---

- name: Install cowsay.
  homebrew:
    name: cowsay
  check_mode: no

- name: "brew list cowsay" # noqa 301
  command: brew list cowsay
  check_mode: no
  register: cowsay_return

- name: /usr/local/Cellar/cowsay/3.04/INSTALL_RECEIPT.json
  debug:
    var: cowsay_return.stdout_lines[0]

- name: Look for installed cowsay version number.
  set_fact:
    cowsay_version: "{{ cowsay_return.stdout_lines[0] | regex_search('(\\d+\\.\\d+)') }}"
  check_mode:

- name: "Show something like 3.04"
  debug:
    var: cowsay_version

- name: Install buffalo cow.
  get_url:
    url: https://gist.githubusercontent.com/deekayen/8a8e3fc22a7a84a35ada9dd9b4703b27/raw/15cdeb2610670f792c2cbfc9efea22ccedcaab64/buffalo.cow
    dest: "/usr/local/Cellar/cowsay/{{ cowsay_version }}/share/cows/buffalo.cow"

- name: Update local user ansible config to use buffalo.
  ini_file:
    path: ~/.ansible.cfg
    section: defaults
    option: cow_selection
    value: buffalo
    mode: 0644
