---

- name: Check for bin directory.
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/bin"
    state: directory
    mode: 0755
  check_mode: no

- name: Check for testssl.sh.
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/bin/testssl.sh"
  register: testssl_sh

- name: "Debug: result of check for testssl.sh."
  ansible.builtin.debug:
    var: testssl_sh

- name: Download testssl.sh.
  ansible.builtin.get_url:
    url: https://testssl.sh/testssl.sh
    dest: "{{ ansible_env.HOME }}/bin/testssl.sh"
    mode: 0755
  when: not testssl_sh.stat.exists
