---

name: CI
'on':
  pull_request:
  push:
    branches:
      - main

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible ansible-lint

      - name: Lint ansible.
        run: ansible-lint

  # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-software
  install:
    name: Playbook
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11.0]
        playbook:
          - deekayen-macbook
          - dnorman-macbook

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Install ansible.
        run: brew install ansible

      - name: Install galaxy dependencies.
        run: ansible-galaxy install -r roles/requirements.yml

      - name: Check syntax.
        run: ansible-playbook --syntax-check --list-tasks -i 127.0.0.1, ${{ matrix.playbook }}.yml

      - name: Run playbook.
        run: ansible-playbook --diff -i 127.0.0.1, -c local --skip-tags no_ci ${{ matrix.playbook }}.yml
